a {
    text-decoration: none;
    color: grey
}

.create-post-height{

    min-height: 80vh;
    margin-top: 10vh;
}

@media only screen and (max-width:576px){
    .create-post-height{
        min-height: 60vh;
        margin-top: 10vh;
    }
}

.ql-toolbar {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ql-container {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
  
